html, body {
    display: flex;
    margin: 0;
    height: 100%;
    width: 100%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.logosection {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    background-image: url(images/cubes.avif);
    width: 35%;
}
@font-face {
    font-family: norse-bold;
    src: url(fonts/Norse-Bold.otf);
}
.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 70%;
    color: white;
    font-family: norse-bold;
    background: rgba(0, 0, 0, 0.45);
    width: 100%;
}

.logoimg {
    height: 15em;
    width: 11em;
}

.logotext {
    font-size: 120px;
}

.source {
    color: white;
    margin-bottom: 2%;
}
a {
    color: white;
}
.signupsection {
    width: 65%;
}