html, body {
    display: flex;
    margin: 0;
    height: 100%;
    width: 100%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.logosection {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    background-image: url(images/cubes.avif);
    width: 35%;
}
@font-face {
    font-family: norse-bold;
    src: url(fonts/Norse-Bold.otf);
}
.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 70%;
    color: white;
    font-family: norse-bold;
    width: 100%;
}

.logoimg {
    height: 15em;
    width: 11em;
}

.logotext {
    font-size: 120px;
}

.source {
    color: white;
    margin-bottom: 2%;
}
a {
    color: white;
}
.signupsection {
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: black;
    color: aliceblue;

}

.headertext {
    margin-bottom: 5%;
    margin-top: 20%;
    margin-left: 5%;
    margin-right: 17%;
    font-weight: 600;
    font-size: 20px;
    
}

.signupheader {
    margin-left: 4%;
    margin-bottom: 3%;
    font-size: 22px;
    font-weight: 600;
}

.forms {
    display: flex;
    flex-wrap: wrap;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;
    font-weight: 550;
    width: 80%;
}
label {
    padding: 12px;
}
form {
    width: 40%;
    margin-left: 4%;
    margin-bottom: 2%;
    
}

input {
    width: 70%;
    background-color: mediumslateblue;
    border-radius: 10px;
    box-sizing: border-box;
    height: 30px;
    padding: 12px 20px;
    font-size: 17px;
    outline: none;
}

input:focus {
    background-color: darkslateblue;
  }

* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  
/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
  }
#firstName {
    display:flex;
    
}

#lastName {
    display: flex;
}

#email {
    display: flex;
}

#phoneNumber {
    display: flex;
}

#password {
    display: flex;
}

button {
    margin-left: 4%;
    margin-top: 2%;
    width: 15%;
    height: 4%;
    background-color: mediumslateblue;
    border-radius: 7px;
}

.login {
    margin-top: 2%;
    margin-left: 4%;
}

.login a {
    color: mediumslateblue;
}





